$color-primary: rgba(3, 3, 196);
$color-primary-shadow: rgba(0, 128, 0, 0.26);
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #b6b5b5;
$color-light-grey: #e9e9e9;
$color-title: $color-primary;
$color-grey-medium: #e1e2e3;
$color-button: $color-primary;
$color-button-warrning: red;
