.balanceTable {
  height: 400px;
  &__incomes {
    position: relative;
    background-color: $color-grey-medium;
    border: solid 1px $color-primary;
    border-radius: 10px;
    &--separatingLine {
      color: $color-grey-medium;
    }
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--list {
      display: flex;
      justify-content: space-between;
      padding: 1% 2% 1% 2%;
      p {
        width: 60%;
      }
    }

    &--summary {
      position: relative;
      left: 15px;
      bottom: 15%;
    }
  }
  &__expenses {
    position: relative;
    background-color: $color-grey-medium;
    border: solid 1px $color-primary;
    border-radius: 10px;
    &--separatingLine {
      color: $color-grey-medium;
    }
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--list {
      display: flex;
      justify-content: space-between;
      padding: 1% 2% 1% 2%;
      p {
        width: 60%;
      }
    }
    &--summary {
      position: relative;
      left: 15px;
      bottom: 15%;
    }
  }
}
